<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/adminLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="~{Content}">


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>People</th>
                        <th>Date</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>People</th>
                        <th>Date</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="booking :${bookings}">
                        <td th:text="${booking.getName()}"></td>
                        <td th:text="${booking.getNumOfPeople()}"></td>
                        <td th:text="${booking.getRequestDate()}"></td>
                        <td th:text="${booking.getPhoneNumber()}"></td>
                        <td><a th:href="'/admin/booking/complete/'+${booking.getId()}" class = "btn btn-success">Competed</a>
                            <a th:href="'/admin/category/remove/' +${booking.getId()}" class="btn btn-danger">Cancelled</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>