<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/adminLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="~{Content}">
    <form method="post" action="/admin/team/update">
        <div class="form-group">
            <input class="form-control" type="text" th:value="${chef.getName()}" placeholder="Name" name="name" />
        </div>
        <input class="form-control" type="hidden" th:value="${chef.getId()}" name="id" />

        <div class="form-group">
            <input class="form-control" type="text" th:value="${chef.getSurname()}" placeholder="Surname" name="surname" />
        </div>
        <div class="form-group">
            <input class="form-control" type="text" th:value="${chef.getPhotoUrl()}"placeholder="Photo Url" name="photoUrl" />
        </div>
        <div>
            <input class = "form-control" type="text" th:value="${chef.getSpeciality()}" placeholder="Speciality" name="speciality">
        </div>
        <br>
        <input type="submit" value="Update" class="btn btn-success" />
        <a class="btn btn-primary" href="/admin/team">Cancel</a>

</div>
</body>
</html>