<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/adminLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="~{Content}">

    <form action="/admin/category/update" method="post">
        <input th:value="${category.getId()}" class="form-control" type="hidden" placeholder="Title" name="id" />
        <input class="form-control" type="text" th:value="${category.getName()}" name="name" />
        <input type="submit" value="Update" class="btn btn-success" />
    </form>


</div>
</body>
</html>